    * {
        z-index: inherit;
    }
    
#home {
    padding: 25px 5%;
}
.ligth #container {
    color: #0a0a0a;
    
}
.ligth #cv {
    background-color: #0086B0;
}
.ligth #cv:hover {
    background-color: black;
    color: white;
}
#astro {
    background-image: none;
    animation: flutuar 3s ease-in-out infinite;
    padding: 0px;
    pointer-events: none;
}

@keyframes flutuar {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateY(-20px);
       
    }
    100% {
        transform: translateX(0px);

    }
}

@media (min-width: 375px) {
    #ola {
        width: 13ch;
        white-space: nowrap;
        overflow: hidden;
        animation: digitando 2s steps(13), piscando 0.5s infinite step-end;
    }
    #nome {
        border-right: 4px solid #0086B0;
        width: 13ch;
        white-space: nowrap;
        overflow: hidden;
        animation: digitando 3.5s steps(13) infinite, piscando 0.5s;
    }
    
    @keyframes digitando {
        from {
            width: 0;
        }
    }
    @keyframes piscando {
        50% {
            border-color: transparent;
        }
    }
    
}


