
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 5%;
    z-index: 1;
    user-select: none;
    width: 100vw;

}
.logo{
    width: 160px;
    cursor: pointer;
    color: #ffffff;
    font-size: 2.5rem;
    font: bold;
}
.ligth .logo {
    color: #0a0a0a;
}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 10px 15px;
    cursor: pointer;
    color: #ffffff;
    font: bold;
}
ul li:hover {
    color: rgb(0, 134, 176);

}

.ligth ul li {
    color: #0a0a0a;
}
.ligth ul li:hover {
    color: #0086B0;
}

.form-contato {
    color: #ffffff;
    background-color: #0086B0;
    padding: 0.7rem;
    border-radius: 18px;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    font-size: 1.2rem;
    font: bold;
}
.form-contato:hover {
    background-color: #ffffff;
    border-bottom: 3px solid #ffffff00;
    border-left: 3px solid #ffffff00;
    color: #0a0a0a;
}
.ligth .form-contato {
    border-bottom: 3px solid #0a0a0a;
    border-left: 3px solid #0a0a0a;
}
.ligth .form-contato:hover {
    color: #ffffff;
    background-color: #0a0a0a;
    border-bottom: 3px solid #0a0a0a00;
    border-left: 3px solid #0a0a0a00;
}

.luz {
    width: 3rem;
    cursor: pointer;
    margin-left: 2rem;
    
}
/* navbar cell */
.mobile_menu {
    display: none;
}
.button_menu_cell {
    display: none;
}

/* Espaço para deixar responsivo e adaptativo */
@media (max-width: 523px) {
    .pesquisa {
        display: none;
    }
    .nav-item {
        display: none;
    }
    .button_menu_cell {
        display: block;
        cursor: pointer;
    }
    .mobile_menu {
        display: none;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        width: 100vw;
        position: absolute;
       top: 5rem;
       left: 0;
    }
    .mobile_menu.open {
        display: flex;
    }
    .logo {
        font-size: 30px;
    }
}

@media (min-width: 523px) and (max-width: 844px) {
    .nav-item {
        display: none;
    }
    .button_menu_cell {
        display: block;
        cursor: pointer;
    }
    .mobile_menu {
        display: none;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        width: 100vw;
        position: fixed;
       top: 5rem;
       left: 0;
    }
    .mobile_menu.open {
        display: flex;
    }
    .logo {
        font-size: 30px;
    }
}

